h1 {
  color: pink;
}
body {
  background: hsla(0, 54%, 97%, 0.849);
  font-family: Arial, sans-serif;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
  padding: 30px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 10px;
  width: 50%;
  font-size: 15px;
  padding: 15px 20px;
}

.search-form-submit {
  background-color: #f9f7fe;
  border: none;
  border-radius: 10px;
  width: 10%;
  font-size: 15px;
  padding: 15px 20px;
}

/* Header and footer */
header {
  border-bottom: 1px solid black;
  padding: 2px 0 30px 0;
}

footer {
  border-top: 1px solid black;
  padding: 30px 0 0 0;
  text-align: center;
}

/* Main content */
.main {
  padding: 30px 0;
}

/* City name */
.weather-app-city {
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 10px; /* Space below city */
}

/* Temperature and icon container */
.weather-app-temperature-container {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 20px; /* Space below temperature */
}

/* Weather icon */
.weather-app-icon {
  font-size: 30px;
  margin-right: 10px; /* Space between icon and temperature */
}

/* Temperature value */
.weather-app-temperature {
  font-size: 30px;
  font-weight: bold;
}

/* Details */
.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
  margin-top: 10px; /* Space above details */
}

.weather-app-details strong {
  color: pink;
}
